.header {
  border-bottom: 1px solid #dedede;

  .logo-container {
    .logo-text {
      margin: 0;
      font-size: 24px;
      line-height: 2.6;
    }

    .logo-link {
      color: #ff9800;
      text-decoration: none;
      border: 1px solid #eee;
      border-radius: 4px;
      line-height: 1;
      padding: 10px 15px;

      &:hover {
        background: #ff9800;
        color: #fff;
        border-color: #ff9800;
      }
    }
  }
}
